ai_news_summerizer/workflow.json
{
  "name": "My workflow 17905",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -96
      ],
      "id": "024c50c5-ef0b-4bcc-b660-677d1ab3fbef",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        144
      ],
      "id": "653c9cca-d3d7-4f78-b71f-115ddd300f7d",
      "name": "AI News Reader"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        -96
      ],
      "id": "0717ea24-c229-4309-8181-6d8d5e7bd0ca",
      "name": "Data Aggregater"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI news summarizer handling multiple categories.\nUse only the provided items. Do not invent content.\n\nOrganize by category and provide up to 3 AI news and up to 3 broader technology news.\n\nFormat exactly like this:\n\nHi there,\nHere's your Tech Brief:\n\nAI NEWS\n=======\nFor each AI-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nTECHNOLOGY UPDATES\n==================\nFor each broader technology-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nKeep it professional, concise, and easy to read."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        -96
      ],
      "id": "6259e00b-d93d-42bf-86d8-074b7f3017ef",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        144,
        112
      ],
      "id": "302250e7-33e8-40ad-a1ac-04a159f64dea",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Q1C3bCjvrJG00jU5",
          "name": "Google Gemini(PaLM) Api account 10926"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "builderstack6@gmail.com",
        "toEmail": "builderstack6@gmail.com",
        "subject": "Todays ai news",
        "html": "=<h2>📰 AI Daily News Brief</h2>\n\n<pre>{{ $json.text }}</pre>\n\n<hr>\n\n<p>This newsletter was generated automatically using AI.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        560,
        -96
      ],
      "id": "4ce9c82d-85f0-447c-9526-84769365cd3c",
      "name": "Send an Email",
      "webhookId": "dde1fdd8-43c5-4c1a-aaeb-06adac3147bc",
      "credentials": {
        "smtp": {
          "id": "6HBAkywVHifGSvvo",
          "name": "SMTP account 18"
        }
      }
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -528,
        -304
      ],
      "id": "0aab35b3-07a1-47a4-88ae-9defc9626715",
      "name": "Tech Updates"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -176,
        -96
      ],
      "id": "a716b274-acad-4bd8-bcec-9c4076c8e033",
      "name": "Data Merger"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI News Reader",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tech Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Reader": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Data Aggregater": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Updates": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Merger": {
      "main": [
        [
          {
            "node": "Data Aggregater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d0098ca5-b6de-46b5-a7dd-4601e9552591",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "OVNp25zDW7uFOz15",
  "tags": []
}